*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.stopwatch-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.stop-watch{
  height: 10rem;
  width: 15rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.stopwatch-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.stopwatch-buttons button{
  padding: 5px 10px;
}

.timer-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.timer{
  height: 10rem;
  width: 15rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.timer-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.timer-buttons button{
  padding: 5px 10px;
}